body {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}



h2 {
  color: black;
  font-size: 20px;
  padding-top: 40px;
}

.btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-primary:hover {
  background-color: #0754c7;
  border-color: #0754c7;
}


.colorTable {
  margin: 0 auto;
  background-color: #000;
  width: 370px;
  height: 100px;
  border-radius: 8px;
}
